<div *ngIf="loadingChartData">
    <p>{{componentTitle}}</p>
</div>

<mat-tab-group dynamicHeight #tabGroup>

    <mat-tab label="Books And Pages Per Year">

        <plotly-plot [data]="booksAndPagesPerYearData"
                     [layout]="booksAndPagesPerYearLayout"
                     [config]="plotlyConfig">

        </plotly-plot>

    </mat-tab>

    <mat-tab label="Pages per Day">

        <plotly-plot [data]="pagesPerDayData"
                     [layout]="pagesPerDayLayout"
                     [config]="plotlyConfig">

        </plotly-plot>

    </mat-tab>

    <mat-tab label="Average Days per Book ">

        <plotly-plot [data]="averageDaysPerBookData"
                     [layout]="averageDaysPerBookLayout"
                     [config]="plotlyConfig">

        </plotly-plot>

    </mat-tab>


</mat-tab-group>
