<table style="font-size:12pt;width:95%;">
  <tr>
    <td style="font-size: 12pt; width: 50%;">
      <div>
        <h2>My Books</h2>
        <table class="booksLists">
          <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Title</th>
            <th>Pages</th>
            <th></th>
          </tr>
          <tr *ngFor="let book of booksSet" (click)="onSelect(book)">
            <td>{{book.dateString}}</td>
            <td>{{book.author}}</td>
            <td>{{book.title}}</td>
            <td>{{book.pages}}</td>
            <td style="width: 10%;">
              <img src={{book.image_url}} alt="No Image Provided" height="80" />
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td style="font-size: 12pt; width: 50%; vertical-align:top;">
      <div>
        <h2>Selected Book</h2>
        <table class="selectedBook" style="font-size:12pt;width:75%;">
          <tr>
            <td rowspan="7" style="width: 20%;">
              <img src="{{bookSelected.image_url}}" alt="No Image Provided" height="200"/>
            </td>
            <th style="width:20%;"><b>Title: </b></th>
            <td>{{bookSelected.title}}</td>
          </tr>
          <tr>
            <th style="width:20%;"><b>Author: </b></th>
            <td>{{bookSelected.author}}</td>
          </tr>
          <tr>
            <th style="width:20%;"><b>Pages: </b></th>
            <td>{{bookSelected.pages}}</td>
          </tr>
          <tr>
            <th style="width:20%;"><b>Nationality: </b></th>
            <td>{{bookSelected.nationality}}</td>
          </tr>
          <tr>
            <th style="width:20%;"><b>Original Language: </b></th>
            <td>{{bookSelected.originalLanguage}}</td>
          </tr>
          <tr>
            <th style="width:20%;"><b>Date: </b></th>
            <td>{{bookSelected.prettyDate}}</td>
          </tr>
          <tr>
            <th style="width:20%;"><b>Format: </b></th>
            <td>{{bookSelected.prettyFormat}}</td>
          </tr>
          <tr>
            <th><b>Notes: </b></th>
            <td colspan="2">{{bookSelected.note}}</td>
          </tr>
        </table>
        <div><span>selected: </span>{{selection}}</div>
        <div>
          <label>
            home country:
            <input [(ngModel)]="bookSelected.nationality" placeholder="name">
          </label>
        </div>
      </div>
    </td>
  </tr>
</table>
