<table style="font-size:12pt;width:95%;">
  <tr>
    <td style="font-size: 12pt; width: 50%;">
      <div>
        <h2>My Books</h2>
        <table class="booksLists">
          <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Title</th>
            <th>Pages</th>
            <th></th>
          </tr>
          <tr *ngFor="let book of booksSet" (click)="onSelect(book)">
            <td>{{book.dateString}}</td>
            <td>{{book.author}}</td>
            <td>{{book.title}}</td>
            <td>{{book.pages}}</td>
            <td style="width: 10%;">
              <img src={{book.image_url}} alt="No Image Provided" height="80" />
            </td>
          </tr>
        </table>
        <div><span>selected: </span>{{selection}}</div>
      </div>
    </td>
    <td style="font-size: 12pt; width: 50%; vertical-align: top;">
      <app-book-detail [book]="bookSelected"></app-book-detail>
    </td>
  </tr>
</table>
