.booksLists table {
  font-size: 12pt;
  width: 60%;
  border: none;
}

.booksLists tr {
  border: none;
  color: black;
}

.booksLists th {
  border: none;
  font-size: 20pt;
  text-align: left;
  background-color: LightSteelBlue;
  padding:1px 15px 1px 15px;
}

.booksLists td {
  border: none;
  text-align: left;
  background-color: Silver;
  padding:1px 5px 1px 5px;
}


