
.selectedBook table, th, td {
  border: none;
  border-collapse: collapse;
  color: black;
}
.selectedBook th {
  padding: 5px;
  text-align: left;    
}

.selectedBook td {
  padding: 5px;
  text-align: left;    
}

.booksLists table {
  font-size: 12pt;
  width: 60%;
  border: none;
}

.booksLists tr {
  border: none;
  color: black;
}

.booksLists th {
  border: none;
  font-size: 20pt;
  text-align: left;
  background-color: LightSteelBlue;
  padding:0 15px 0 15px;
}

.booksLists td {
  border: none;
  text-align: left;
  background-color: Silver;
  padding:0 5px 0 5px;
}


