<div>

    <div *ngIf="loadingChartData">
        <p>{{componentTitle}}</p>
    </div>

    <div class="logged-in-div">

        <table>

            <tr>
                <td>
                    <b class="input-type-name">Data Source:</b>
                </td>
                <td class="radio-group-panel">

                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                     class="example-radio-group"
                                     [(ngModel)]="selectedExportDataSource">
                        <mat-radio-button class="example-radio-button"
                                          *ngFor="let exportDataSource of exportDataSources" [value]="exportDataSource">
                            {{exportDataSource}}
                        </mat-radio-button>
                    </mat-radio-group>

                </td>

            </tr>

            <tr>

                <td>
                    <b class="input-type-name">Export Type:</b>
                </td>

                <td class="radio-group-panel">

                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                     class="example-radio-group"
                                     [(ngModel)]="selectedExportType">
                        <mat-radio-button class="example-radio-button" *ngFor="let exportType of exportTypes" [value]="exportType">
                            {{exportType}}
                        </mat-radio-button>
                    </mat-radio-group>

                </td>

            </tr>

            <tr>

                <td>


                </td>
                <td>


                </td>

            </tr>

        </table>

        <form [formGroup]="sendEmailFormGroup" class="form">

            <div>
                <mat-form-field class="form-element">
                    <input matInput type="email" placeholder="Destination" formControlName="destinationEmail" required>
                    <mat-error *ngIf="!sendEmailFormGroup.controls['destinationEmail'].valid && sendEmailFormGroup.controls['destinationEmail'].touched">
                        Not a valid destination
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-element">
                    <input matInput placeholder="Notes" formControlName="notes">
                </mat-form-field>
            </div>
            <div class="form-element">

                <button mat-raised-button
                        color="primary"
                        style="margin-right: 25px; margin-left: 25px;"
                        [disabled]="!optionSelected"
                        (click)="onDisplayExportData()">
                    Display
                </button>

                <button mat-raised-button
                        color="primary"
                        style="margin-right: 25px; margin-left: 25px;"
                        [disabled]="!optionSelected"
                        (click)="onExportDataToFile()">
                    Export Data To File
                </button>

                <button mat-raised-button
                        color="primary"
                        style="margin-right: 25px; margin-left: 25px;"
                        type="submit"
                        class="button"
                        [disabled]="!sendEmailFormGroup.valid || !optionSelected"
                        (click)="onExportDataToEmail()">
                    Send Export E-mail
                </button>
            </div>

        </form>

        <div *ngIf="exportDataToDisplay" class="logged-in-div">

            <pre>
            <code>{{displayText}}</code>
        </pre>

        </div>

    </div>
