/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/bootstrap.min.css";

@import "~font-awesome/css/font-awesome.css";

@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  margin: 0;
}

.parallax-image {
  /* Add This Class To Your Html Tag And Specify Your Image in Background Image CSS Element */
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.material-option-select-panel {
    margin-top: 30px !important;
}
