
<h2>Selected Book</h2>
<div *ngIf="book">
  <table class="selectedBook" style="font-size:12pt;width:75%;">
    <tr>
      <td rowspan="7" style="width: 20%;">
        <img src="{{book.image_url}}" alt="No Image Provided" height="200"/>
      </td>
      <th style="width:20%;"><b>Title: </b></th>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <th style="width:20%;"><b>Author: </b></th>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <th style="width:20%;"><b>Pages: </b></th>
      <td>{{book.pages}}</td>
    </tr>
    <tr>
      <th style="width:20%;"><b>Nationality: </b></th>
      <td>{{book.nationality}}</td>
    </tr>
    <tr>
      <th style="width:20%;"><b>Original Language: </b></th>
      <td>{{book.originalLanguage}}</td>
    </tr>
    <tr>
      <th style="width:20%;"><b>Date: </b></th>
      <td>{{book.prettyDate}}</td>
    </tr>
    <tr>
      <th style="width:20%;"><b>Format: </b></th>
      <td>{{book.prettyFormat}}</td>
    </tr>
    <tr>
      <th><b>Notes: </b></th>
      <td colspan="2">{{book.note}}</td>
    </tr>
  </table>
  <div>
    <label>
      home country:
      <input [(ngModel)]="book.nationality" placeholder="name">
    </label>
  </div>
</div>
