<div *ngIf="!currentLoginService.isLoggedIn" class="not-logged-in-div">
  <h1>Not currently Logged In</h1>
</div>

<div *ngIf="currentLoginService.isLoggedIn" style="margin: 15px">
    <mat-tab-group dynamicHeight #tabGroup>

        <mat-tab label="Add New Book">

            <app-add-new-book></app-add-new-book>

        </mat-tab>

        <mat-tab label="Edit Existing Book">

            <app-edit-existing-book></app-edit-existing-book>

        </mat-tab>

        <mat-tab label="Add Books from E-Mail">
            To be Done....
        </mat-tab>

        <mat-tab label="Find Book in Google">

            <app-find-book></app-find-book>

        </mat-tab>

    </mat-tab-group>
</div>
