<div *ngIf="!currentLoginService.isLoggedIn" class="not-logged-in-div">
  <h1>Not currently Logged In</h1>
</div>

<div *ngIf="currentLoginService.isLoggedIn" style="margin: 15px">
  <mat-tab-group dynamicHeight #tabGroup>

    <mat-tab label="Add New Book">

      <app-add-new-book></app-add-new-book>

    </mat-tab>

    <mat-tab label="Edit Existing Book">

      <app-edit-existing-book></app-edit-existing-book>

    </mat-tab>

    <mat-tab label="Add Books from E-Mail">
        <div class="main-div">
            <mat-card>
                <h1>Search a book</h1>

                <mat-form-field class="example-full-width">
                    <mat-label>Find a book</mat-label>
                    <input matInput
                           placeholder="Enter book title"
                           (keyup)="bookQuery($event.target.value)" />
                </mat-form-field>
            </mat-card>
        </div>

        <div>
            <app-google-book-item *ngFor="let book of books | async" [book]="book">
                <p>test</p>
            </app-google-book-item>
        </div>

    </mat-tab>

  </mat-tab-group>
</div>
